<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muzzk</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">

    <script src="./js/api.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/songs.js"></script>
    <script src="./js/footer.js"></script>
</head>
<body class="w3-white">

    {{!-- Sidenav template start --}}
    {{>sidenav}}
    {{!-- Sidenav template end --}}

    <div id="main">
        {{!-- Header template start --}}
        {{>header}}
        {{!-- Header template end --}}

        <!-- Music Content -->
        <div class="w3-row-padding" id="songs-holder"></div>

        {{!-- Player template start --}}
        {{>player}}
        {{!-- Player template end --}}
    
        {{!-- Footer template start --}}
        {{>footer}}
        {{!-- Footer template end --}}
    </div>
    
</body>
</html>