        <!-- Footer -->
        <footer class="w3-content w3-text-black">

            <!-- Contact info -->
            <h2 class="w3-text-dark-grey">Contact Us</h2>
            <hr style="width:200px" class="w3-opacity" style="border-color: lightcoral;">
            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-text-dark-grey w3-xxlarge w3-margin-right"></i> Toronto, CA</p>
                <p><i class="fa fa-phone fa-fw w3-text-dark-grey w3-xxlarge w3-margin-right"></i> Phone: 1 - 800 - 4MUZZK</p>
                <p><i class="fa fa-envelope fa-fw w3-text-dark-grey w3-xxlarge w3-margin-right"> </i> Email: support@muzzk.com</p>
            </div>

            <!-- Socials -->
            <i class="fa fa-facebook-official w3-hover-opacity  w3-xlarge" id="anchorFacebook"></i>
            <i class="fa fa-instagram w3-hover-opacity  w3-xlarge" id="anchorInstagram"></i>
            <i class="fa fa-twitter w3-hover-opacity  w3-xlarge" id="anchorTwitter"></i>
            <i class="fa fa-linkedin w3-hover-opacity  w3-xlarge" id="anchorLinkedIn"></i>
        </footer>
        <!-- End footer -->