        <!-- Header -->
        <header id="header">
            <div class="w3-container">
                <div class="w3-container w3-display-container w3-cell-row">
                    <div class="w3-container w3-cell w3-mobile w3-animate-zoom">
                        <h1><b>Muzzk</b></h1>
                    </div>
                    <div class="w3-container w3-display-right w3-display-container w3-cell w3-mobile search-bar">
                        <i class="fa fa-search w3-xlarge search-icon"></i>
                        <input type="text" class="search-input" name="" id="search-bar" placeholder="What's on your mind today?">
                    </div>
                </div>
                <div class="w3-section w3-bottombar w3-padding-16">
                    <h2 class="w3-margin-right">Songs:</h2>
                    <!-- For filtering features to be implemented later and dynamically -->
                    <!-- <button class="w3-button w3-animate-zoom w3-black">ALL</button>
                    <button class="w3-button w3-animate-zoom w3-white">Hip Hop</button>
                    <button class="w3-button w3-animate-zoom w3-white w3-hide-small">Rock</button>
                    <button class="w3-button w3-animate-zoom w3-white w3-hide-small">Pop</button> -->
                </div>
            </div>
        </header>